@using Micro.Web
@{

    Dictionary<int, bool> dicRole = GetUserRole.GetRoleExportByUser();
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Báo cáo theo dõi phân bổ chi phí thiết bị";
}

@section css{
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/css/Pages/Report.css" rel="stylesheet" />
    <link href="~/app-assets/vendors/toastr/toastr.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
}
<style>
    .col-md-2 {
        min-width: 20% !important;
    }
</style>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Báo cáo theo dõi phân bổ chi phí thiết bị</h4>
    </div>
    <div class="card-body ">
        <div class="btnCssform col-md-12 d-flex pl-0">
            <div class="col-md-3 pl-0">
                <div class="input-group date startdate">
                    <input name="startDateFilter" value="" id="startDateFilter" class="form-control">
                    <span class="input-group-addon"><img id="" class="icon" src="~/Assets/images/calendar.gif"></span>
                </div>
            </div>
            @*<div class="col-md-2 pl-0">
                <div class="input-group date enddate">
                    <input name="endDateFilter" value="" id="endDateFilter" class="form-control">
                    <span class="input-group-addon"><img id="" class="icon" src="~/Assets/images/calendar.gif"></span>
                </div>
            </div>*@
            <div class="col-md-3 pl-0">
                <select name="IsActiveStatus" id="IsActiveStatus" class="form-control">
                    <option value="-1"> Tất cả thiết bị </option>
                    <option value="1"> Thiết bị cho mượn </option>
                    <option value="0"> Thiết bị thu hồi </option>
                </select>
            </div>
            <div class="col-md-3 pl-0">
                <div>
                    <input name="TextSearch" placeholder="Tìm kiếm" id="TextSearch" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary pl-1" id="btnDeviceCostAllocationFilter" title="Lọc"> <i class="fa fa-filter"></i></button>
                <button @(dicRole[(int)MobiFiber.Code.ActionModule.DeviceCostAllocation] == true ? "" : "disabled") class="btn btn-primary" id="btnDeviceCostAllocationExport" title="Xuất file Excel"> <i class="fa fa-file-excel-o"></i></button>
            </div>
        </div>
        <div>
            <table id="tblDeviceAllocation" class="table-hover table-striped"></table>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/Report.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script src="~/app-assets/vendors/toastr/toastr.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
}
